/* GUIA:
RESETEO
FOOTER EN EL BORDE INFERIOR (CON FLEX / CON GRID)
ESTILO DE TODOS LOS BOTONES
HEADER CON FLEX
NAV CON FLEX
HERO CON GRID
CONTENEDOR DE TARJETAS RESPONSIVE CON GRID
TARJETAS CON FLEX
TARJETA CRECE DE TAMAÑO CON HOVER
FLEX PARA QUE EL TITULO SIEMPRE ESTE ARRIBA Y EL BOTON ABAJO
UL CON FLEX
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* RESETEO */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
	list-style: none;
	font-family: "Poppins";
}
/* FOOTER SIEMPRE EN EL BORDE INFERIOR */
/* -----------CON FLEX------------ */

/* body {
	min-height: 100vh;
	height: 100%;
	display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
}
main {
	flex: 1;
} */

/* -----------CON GRID------------ */
body {
	/* ESTAS MEDIDAS SON OBLIGATORIAS PARA QUE EL SITIO MIDA COMO MINIMO EL ALTO DE LA PANTALLA */
	min-height: 100vh;
	height: 100%;
	display: grid;
	/* ARMA TRES FILAS, "AUTO" SIGNIFICA QUE EL CONTENEDOR SE ADAPTA A SU CONTENIDO, "FR" SIGINIFICA QUE LLENA EL RESTO DEL ESPACIO */
	grid-template-rows: auto 1fr auto;
}

/* ESTILO DE TODOS LOS BOTONES PRINCIPALES */
.btn {
	display: inline-block;
	padding: 0.6em 1.7em;
	border-radius: 0.3em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	

}

/* HEADER CON FLEX */
header {
	
	/* EL HEADER QUEDA ARRIBA */
	position: sticky;
	top: 0;
	background: rgb(255, 255, 255);
	z-index: 1;
	/* SEPARAR LOGO Y MENU */
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	
	/* ESTILO */
	padding: 1.5em 2em;
	box-shadow: 0 0 20px 0 black;
}




/* NAV CON FLEX */
nav {
	display: flex;
	/* EN VEZ DE DAR PADDING A LOS BOTONES, AL SER SOLO PALABRAS USAMOS "GAP" QUE AGREGA ESPACIO ENTRE LOS ITEMS, DE ESTA FORMA NO HAY QUE DARLE UN ANCHO AL NAV/UL NI PADDING/MARGIN A LOS ENLACES */
	gap: 1em;
}

/* HERO CENTRADO CON GRID */
.hero {
	background: url("./fondo/fondo.jpg")
		no-repeat center/cover;
	height: 80vh;
	display: grid;
	place-content: center; /* ESTO CENTRA LOS HIJOS DEL PADRE VERTICAL Y HORIZONTALMENTE */
}

/* ESTILO DE LA CAJA DE TEXTO */
.hero-txt {
	font-size: 140%;
	float: left;
	margin-left: 3em;
	text-align: justify;
	max-width: 40vw;
	
}

.hero-txt2 {
	font-size: 140%;
	float: right;
	margin-right: 3em;
	text-align: justify;
	max-width: 40vw;
	
}
.hero-txt2 h1 > span {
	margin-top: 0.7em;
	display: block; /* FILA NUEVA */
	/* REDUCIR TIPOGRAFIA Y NEGRITA */
	font-size: 0.7em;
	font-weight: 400;
	line-height: 1.8em;
	
}
.hero-txt h1 > span {
	margin-top: 0.7em;
	display: block; /* FILA NUEVA */
	/* REDUCIR TIPOGRAFIA Y NEGRITA */
	font-size: 0.7em;
	font-weight: 400;
	line-height: 1.8em;
	
}


.hero-txt h1 > span {
	margin-top: 0.7em;
	display: block; /* FILA NUEVA */
	/* REDUCIR TIPOGRAFIA Y NEGRITA */
	font-size: 0.7em;
	font-weight: 400;
	line-height: 1.8em;
}

/* COLOR DEL BOTÓN DEL HERO */
.hero .btn {
	margin-top: 1.3em;
	background: white;
}

.productos {
	padding: 3em;
}

.title-c {
	text-align: center;
	margin-bottom: 1.5em;
	text-decoration: underline #10aabe 0.2em;
	/* SEPARA EL SUBRAYADO DEL TEXTO */
	text-underline-offset: 0.3em;
}

/* CONTENEDOR DE TARJETAS RESPONSIVE CON GRID */
.contenedor {
	display: grid;
	/* 	-------------AL USAR GRID, LA ULTIMA FILA NO QUEDA CENTRADA-------------
	GRID-TEMPLATE-COLUMNS: Esta propiedad de GRID crea las columnas de la grilla.
	-REPEAT-> (cantidad de columnas, misma medida) -> repeat(2,200px) crea 2 columnas/filas de 200px.
	-AUTO-FIT-> GRID CREA TANTAS COLUMNAS COMO ITEMS.
	--> AUTO-FIT PUEDE CAMBIARSE POR AUTO-FILL QUE SIGUE CREANDO COLUMNAS AUNQUE YA USO TODOS LOS ITEMS.
	-MINMAX-> CADA COLUMNA TIENE COMO MÍNIMO XXX y COMO MÁXIMO UNA FRACCIÓN*/

	/* 	repeat (numero de veces que repite, medida) */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2em;
}

/* TARJETAS CON FLEX*/
.card {
	display: flex;
	flex-flow: column;
	border-radius: 0.3em;
	overflow: hidden; /*PARA QUE LA FOTO TENGA EL BORDER-RADIUS ARRIBA*/
	box-shadow: 0 10px 25px -10px black;

	transition: 300ms ease-in-out; /* TRANSICIÓN PARA EL EFECTO DEL :HOVER */
	/* 	 */
}

/* TARJETA CRECE DE TAMAÑO CON HOVER */
.card:hover {
	transform: scale(1.05);
	box-shadow: 0 15px 35px -10px #00caaf;
}

.card-img {
	width: 100%;
	flex-basis: 200px; /* FLEX SE USA PARA DARLE UN ALTO MINIMO DE 200PX A LA IMAGEN */
}

/* ID PARA DAR LAS IMAGENES DE CADA TARJETA */
#producto-01 {
	background: url("./celulares/iphone\ 12.jpg")
		no-repeat 50% 20% / cover;
}
#producto-02 {
	background: url("./celulares/samsumg\ a51.jpg")
		no-repeat 50% 20% / cover;
}
#producto-03 {
	background: url("./celulares/huawei\ p30\ pro.jpg")
		no-repeat 50% 60% / cover;
}
#producto-04 {
	background: url("./celulares/sony\ xperia\ z5.jpg")
		no-repeat 50% 60% / cover;
}
#producto-05 {
	background: url("./celulares/alcatel\ 1v.png")
		no-repeat 50% 20% / cover;
}
#producto-06 {
	background: url("./celulares/xiaomi\ redmi\ note\ 9\ pro.jpg")
		no-repeat 50% 60% / cover;
}
#producto-07 {
	background: url("./celulares/xiaomi\ poco\ x3\ pro.jpg")
		no-repeat 50% 60% / cover;
}
#producto-08 {
	background: url("./celulares/doogee\ s95\ pro.jpg")
		no-repeat 50% 60% / cover;
}
#producto-09 {
	background: url("./celulares/samsumg\ galaxy\ z\ flip.jpg")
		no-repeat 50% 20% / cover;
}
#producto-010 {
	background: url("./celulares/iphone\ x\ fold.jpg")
		no-repeat 50% 20% / cover;
}
#producto-011 {
	background: url("./celulares/moto\ razr\ v4.jpg")
		no-repeat 50% 60% / cover;
}
#producto-012 {
	background: url("./celulares/lg\ g\ flex\ 3.jpg")
		no-repeat 50% 60% / cover;
}

.card-txt {
	/* FLEX PARA QUE EL TITULO SIEMPRE ESTE ARRIBA Y EL BOTON ABAJO */
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	padding: 1.5em;
	text-align: center;
}

/* COLOR DE BOTONES DE VENTA */
.card-txt .btn {
	color: #000000 !important;
	font-size: 0.8em;
	padding: 0.5em 1.2em;
	background: linear-gradient(45deg, #fbfdcb 0%, #00e1ff 47%, #10aabe 95%);
	border: 2px solid;
	border-color: #ffffff;
	transition: all 1s ease;
	position: relative;

}

.btn:hover{
	background: #318aac;
		color: #fff !important;
}

/* FOOTER CON FLEX */
footer {
	display: flex;
	flex-flow: row;
justify-content: center;
	align-items: baseline;
	/* ESTILO */
	padding: 0.5em 2em;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 black;
	
}
footer .sociales a{
float: center;
padding: 0.5em 1.5em;
	text-align: center;
}

footer .redes {
	float: center;
padding: 0.5em 1.5em;
	text-align: center;



}


.imagenes{
	

	margin:2px;
	float:left;
	width:200px;
	text-align:center;
	}

footer .redes h3 {
	margin-bottom: 0.7vh;
}
/* UL CON FLEX */
footer .redes ul {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	gap: 2em;
}

@media only screen and (max-width: 500px) {
	footer {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

		footer .redes ul {
		display: flex;
		justify-content: center;
	}
	
}

/* CONTACTOS */
label {
    display:block;
    margin-top:30px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #ffffff;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:30px;
    background:#00caaf2f;
    border:2px solid #222222;
    padding:10px;
    margin-top:5px;
    font-size:15px;
    color:#242424;
}
 
textarea {
    height:200px;
}
 
#submit {
    width:150px;
    height:40px;
    border:none;
    margin-top:40px;
    cursor:pointer;
}

/* EFECTO DE BOTONES*/


.botones {
	width: 100%;
	text-align: center;
  }
  
  #separar {
	padding: 3%;
	display: inline-block;
  }
  
  .titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #333333;
  }
  
  .boton1 {
	color: #fff !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #318aac;
	border: 2px solid;
	border-color: #318aac;
	position: relative;
  }
  .boton1:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	transition: all 1s ease;
  }
  .boton1:hover:before {
	width: 100%;
  }
  
  .boton2 {
	color: #fff !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #318aac;
	border: 2px solid;
	border-color: #318aac;
	position: relative;
  }
  .boton2:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background: rgba(255, 255, 255, 0.1);
	transition: all 1s ease;
  }
  .boton2:hover:before {
	height: 100%;
  }
  
  .boton3 {
	color: #318aac !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: rgba(0, 0, 0, 0);
	border: 2px solid;
	border-color: #318aac;
	transition: all 1s ease;
	position: relative;
  }
  .boton3:hover {
	background: #318aac;
	color: #fff !important;
  }
  
  .boton4 {
	color: rgba(255, 255, 255, 0.9) !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #318aac;
	border: 2px solid;
	border-color: #318aac;
	position: relative;
  }
  .boton4:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
	transition: all 0.2s ease;
  }
  
  .boton5 {
	color: #fff !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #318aac;
	position: relative;
	border: 2px solid #318aac;
	outline: 1px solid;
	outline-color: rgba(49, 138, 172, 0.4);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton5:hover {
	box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
	  0 0 20px rgba(49, 138, 172, 0.4);
	outline-color: rgba(49, 138, 172, 0);
	outline-offset: 80px;
	text-shadow: 1px 1px 6px #fff;
  }



  /* menu */

.text{
	font-size: 20px;
	font-style: inherit;
	color: tomato;
	padding: 15px 20px;
	transition: all 0.7s ease-in-out;
}
.color{
	color: #16b18f;
}
.color:hover{
	color: rgba(0, 255, 200, 0.521);
}